// Mixins
$toolbar-min-height: 44px;
$toolbar-min-height-media: 62px;
$toolbar-justify-content: flex-start;
$sidebar-width: 200px;

// Overrides
$svg-icon-color: #fff;
$svg-icon-font-size: 30px;
$list-item-icon-min-width: 50px;

$shape-border-radius: 3;

$transitions-easing: (
  easeInOut: cubic-bezier(0.4, 0, 0.2, 1),
  easeOut: cubic-bezier(0, 0, 0.2, 1),
  easeIn: cubic-bezier(0.4, 0, 1, 1),
  sharp: cubic-bezier(0.4, 0, 0.6, 1)
);

$transitions-duration: (
  shortest: 150,
  shorter: 200,
  short: 250,
  standard: 300,
  complex: 375,
  enteringScreen: 225,
  leavingScreen: 195
);

$z-index: (
  mobileStepper: 1000,
  speedDial: 1050,
  appBar: 1100,
  drawer: 1200,
  modal: 1300,
  snackbar: 1400,
  tooltip: 1500
);

//functions

//spacing(1,2,3,4)
@function spacing($values...) {
  $value-list: ();
  @each $value in $values {
    $value-list: append($value-list, map-get($spacing, $value));
  }
  @return $value-list;
}
