// Palette
$background-color: #011627;
$border-color: #1e2d3d;
$text-color-inactive: #607b96;
$text-color-active: #ffffff;

// $primary-color: #ad4eff;
// $primary-contrast-text-color: #fff;
// $secondary-color: #7802dd;
// $secondary-contrast-text-color: #fff;
// $error-color: #f71735;
// $error-contrast-text-color: #fff;
// $warning-color: #f79f09;
// $warning-contrast-text-color: #fff;
// $info-color: #f8f7fe;
// $info-contrast-text-color: #fff;
// $success-color: #0cce6b;
// $success-contrast-text-color: #fff;
// $grey-50: #d6e5eb;
// $grey-100: #c2c2c2;
// $grey-200: #8f8f8f;
// $grey-300: #f8f7fe;
// $grey-500: #a9b3b7;
// $contrast-threshold: 3;
// $tonal-offset: 0.2;
// $text-primary-color: #222;
// $text-secondary-color: rgba(34, 34, 34, 0.54);
// $text-disabled-color: rgba(34, 34, 34, 0.38);
// $text-hint-color: rgba(34, 34, 34, 0.38);
// $divider-color: rgba(0, 0, 0, 0.12);
// $background-paper-color: #fff;
// $background-default-color: #fff;
// $action-active-color: #a9b3b7;
// $action-hover-color: rgba(169, 179, 183, 0.04);
// $action-hover-opacity: 0.04;
// $action-selected-color: rgba(169, 179, 183, 0.08);
// $action-selected-opacity: 0.08;
// $action-disabled-color: #fff;
// $action-disabled-background-color: #d6e5eb;
// $action-disabled-opacity: 1;
// $action-focus-color: rgba(169, 179, 183, 0.12);
// $action-focus-opacity: 0.12;
// $action-activated-opacity: 0.12;
